body {
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  width: 400px;
  border: 2px solid black;
  background-color: silver;
  border-radius: 10px;
}

.calc-button {  
  margin: 5px;
  position: relative;
  z-index: 1;
}

.output {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-content: end;
  color: whitesmoke;
  font-size: 2rem;
  margin: 0;
  padding: 20px;
  background-color: black;
  z-index: 1;
  height: 50px;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  font-size: 2.5rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: #ED9C9C;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.3s ease-in-out;
}

.operators {
  background-color: #00c0f5;
}

#clear {
  background-color: #f48626;
}

#equals {
  background-color: #efc931;
}
