body {
  background-color: tan;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  width: 400px;
  border: 2px solid black;
  background-color: silver;
}

.calc-button {
  border: 2px solid D9D9D9;
  margin: 5px;
}

.output {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid black;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}